<h1>Threeve: Round 1</h1>
<p>Score: <%= session[:score] %></p>
<p><%= link_to 'Correct Answer', 'http://localhost:3000/game/correct_score' %></p>
<%= link_to 'Incorrect Answer', 'http://localhost:3000/game/incorrect_score' %>

